@use "antd/dist/reset.css" as *;
@use "./color/color.scss" as *;
@use "./flexBox/flex_box.scss" as *;
@use "./fontSize/font_size.scss" as *;
@use "./fontWeight/font_weight.scss" as *;
@use "./lineNumber/line_number.scss" as *;
@use "./rotate/rotate.scss" as *;
@use "./title/title.scss" as *;
@use "./margin/margin.scss" as *;
@use "./margin/margin_bottom.scss" as *;
@use "./margin/margin_left.scss" as *;
@use "./margin/margin_right.scss" as *;
@use "./margin/margin_top.scss" as *;
@use "./padding/padding.scss" as *;
@use "./padding/padding_bottom.scss" as *;
@use "./padding/padding_left.scss" as *;
@use "./padding/padding_right.scss" as *;
@use "./padding/padding_top.scss" as *;
@use "./height/height.scss" as *;
@use "./width/width.scss" as *;
@use "./background/background.scss" as *;
@use "./text/text.scss" as *;
@use "./button/button.scss" as *;
@use "./fontFamily/index.scss" as *;
@use "./lineHeight/index.scss" as *;
@use "./checkbox" as *;
@use "./upload/" as *;
@use "./custom-antd" as *;
@use "../../assets/fonts/style.scss" as *;
@use "../../assets/scss/border/border.scss" as *;

body {
  font-weight: 400;

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: unset;
    margin: 5px 0px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c5ced9;
    border-radius: 30px;
  }
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

.w-90 {
  width: 90%;
}

.loading-center {
  .ant-spin-fullscreen {
    background-color: #fff;
  }
}
